@plugin "@tailwindcss/typography";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: hsl(22, 56%, 52%);
  --primary-50: hsl(22, 100%, 95%);
  --primary-100: hsl(22, 100%, 90%);
  --primary-200: hsl(22, 100%, 80%);
  --primary-300: hsl(22, 100%, 70%);
  --primary-400: hsl(22, 80%, 60%);
  --primary-500: hsl(22, 70%, 50%);
  --primary-600: hsl(22, 65%, 40%);
  --primary-700: hsl(22, 60%, 30%);
  --primary-800: hsl(22, 56%, 20%);
  --primary-900: hsl(22, 56%, 10%);
  --primary-950: hsl(22, 56%, 5%);
  --secondary: #502978;
  --accent: #502978;
  --accent-fg: #502978;
  --selection-bg: hsla(22, 56%, 52%, 0.5); /* Semi-transparent primary */
}

/* Light Mode */
html {
  --background: hsl(40, 33%, 98%);
  --background-muted: hsl(40, 33%, 92%);
  --foreground: hsl(240, 6%, 14%);
  --foreground-muted: #422d0b;
  --accent-bg: #e3d4bf;
  --secondary-bg: #F2EDF7;
  --article-bg: #F7F3ED;

  ::selection {
    background-color: var(--primary-200);
  }

}


/* Dark Mode */
html.dark {
    --background: hsl(240, 6%, 10%);
    --background-muted: hsl(240, 6%, 20%);
    --foreground: hsl(40, 33%, 90%);
    --foreground-muted: hsl(35, 70%, 80%);
    --accent-bg: hsl(30, 25%, 25%);
    --secondary-bg: hsl(280, 20%, 20%);
    --article-bg: #222222;

    ::selection {
      background-color: var(--primary-700);
    }
}



@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Source Sans 3', 'Inter',  sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    /* font-family: 'IBM Plex Sans', 'sans-serif'; */
    font-family: Georgia, sans-serif;
  }
  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: .25rem 0;
  }
  ol {
    list-style-type: decimal;
    padding-left: .5rem;
    margin: 0.25rem 0;
  }
  li {
    margin-bottom: 0.5rem;
  }
  li:last-child {
    margin-bottom: 0;
  }
  .comp {
    font-family: monospace;
    color: magenta;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.05em;
    font-weight: 500;
    padding: 4px;
  }

  
  /* DEBUG: Show outlines of all divs */
  /* div:not(#nuxt-devtools-container *) {
    outline: 1px dotted green;
  } */

}
